.container {
  width: 100%;
  padding: 16px;

  border-radius: 5px;

  background-color: rgba(0, 0, 0, 0.4);
}

.title {
  padding: 12px;

  border-radius: 5px;

  background-color: #a2622d;

  color: white;
  text-align: center;
}

.operationsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin-top: 8px;
}

.operationsButtonsContainerIdle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.operationButton {
  padding: 12px;
  align-self: flex-start;

  border-radius: 5px;

  color: white;

  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.operationButton:hover {
  background-color: #e9ebeb;
  color: black;
}
