.container {
    width: 100%;
    padding: 16px;

    border-radius: 5px;

    background-color: rgba(0, 0, 0, 0.4);
}

.title {
    padding: 12px;

    border-radius: 5px;

    background-color: #A2622D;

    color: white;
    text-align: center;
}

.taskContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;

    max-height: 512px;
    overflow-x: auto;

    margin-top: 8px;
}

.taskContainer::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    background-color: #444444;
}

.taskContainer::-webkit-scrollbar
{
    width: 10px;
    background-color: #444444;
}

.taskContainer::-webkit-scrollbar-thumb
{
    background-color: #1c1c1c;
    border: 2px solid #1c1c1c;
}

.task {
    padding: 12px;
    border-radius: 5px;

    background-color: rgba(0, 0, 0, 0.8);

    color: white;

    cursor: pointer;
}

.task:focus {
    background-color: white;
    color: black;
    outline: 0;
}

.operationsContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-top: 8px;
}

.addOperation {
    padding: 12px;
    align-self: flex-start;

    border-radius: 5px;

    color: white;

    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.addOperation:hover {
    background-color: #E9EBEB;
    color: black;
}

.saveOperation {
    padding: 12px;
    align-self: flex-end;

    border-radius: 5px;

    background-color: #9A5D2B;

    color: white;

    cursor: pointer;

    transition: all 0.1s ease-in-out;
}

.saveOperation:hover {
    filter: brightness(0.9);
}
